In [21]:
# 1. استيراد المكتبات
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [22]:
# 2. قراءة البيانات (CSV أو Excel)
df = pd.read_csv("data.csv")
df

,Restaurant,Reviewer,Review,Rating,Metadata,Time,Pictures,7514
0,Beyond Flavours,Rusha Chakraborty,"The ambience was good, food was quite good . h...",5,"1 Review , 2 Followers",5/25/2019 15:54,0,2447.0
1,Beyond Flavours,Anusha Tirumalaneedi,Ambience is too good for a pleasant evening. S...,5,"3 Reviews , 2 Followers",5/25/2019 14:20,0,NaN
2,Beyond Flavours,Ashok Shekhawat,A must try.. great food great ambience. Thnx f...,5,"2 Reviews , 3 Followers",5/24/2019 22:54,0,NaN
3,Beyond Flavours,Swapnil Sarkar,Soumen das and Arun was a great guy. Only beca...,5,"1 Review , 1 Follower",5/24/2019 22:11,0,NaN
4,Beyond Flavours,Dileep,Food is good.we ordered Kodi drumsticks and ba...,5,"3 Reviews , 2 Followers",5/24/2019 21:37,0,NaN
...,...,...,...,...,...,...,...,...
9995,Chinese Pavilion,Abhishek Mahajan,Madhumathi Mahajan Well to start with nice cou...,3,"53 Reviews , 54 Followers",6/5/2016 0:08,0,NaN
9996,Chinese Pavilion,Sharad Agrawal,This place has never disappointed us.. The foo...,4.5,"2 Reviews , 53 Followers",6/4/2016 22:01,0,NaN
9997,Chinese Pavilion,Ramandeep,"Bad rating is mainly because of ""Chicken Bone ...",1.5,"65 Reviews , 423 Followers",6/3/2016 10:37,3,NaN
9998,Chinese Pavilion,Nayana Shanbhag,I personally love and prefer Chinese Food. Had...,4,"13 Reviews , 144 Followers",5/31/2016 17:22,0,NaN
9999,Chinese Pavilion,Bhargava Krishna,Checked in here to try some delicious chinese ...,3.5,"472 Reviews , 1302 Followers",5/31/2016 16:41,6,NaN

In [23]:
# 3. فحص الأعمدة
print("أسماء الأعمدة:", df.columns.tolist())
print(df.info())

أسماء الأعمدة: ['Restaurant', 'Reviewer', 'Review', 'Rating', 'Metadata', 'Time', 'Pictures', '7514']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Restaurant  10000 non-null  object
 1   Reviewer    9962 non-null   object
 2   Review      9955 non-null   object
 3   Rating      9962 non-null   object
 4   Metadata    9962 non-null   object
 5   Time        9962 non-null   object
 6   Pictures    10000 non-null  int64
 7   7514        1 non-null      float64
dtypes: float64(1), int64(1), object(6)
memory usage: 625.1+ KB
None

In [24]:
# 4. تنظيف الأعمدة النصية (إزالة مسافات وتوحيد الحروف)
df.columns = df.columns.str.strip()
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype(str).str.strip().str.lower()

In [25]:
# 5. التعامل مع القيم المفقودة
for col in df.select_dtypes(include=['int64','float64']).columns:
    df[col] = df[col].fillna(df[col].median())

for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].fillna("unknown")

In [26]:
# 6. إزالة التكرارات
df = df.drop_duplicates()

In [27]:
df.shape

(9964, 8)

In [28]:
# 7. معالجة القيم الشاذة (Outliers) لكل عمود رقمي
for col in df.select_dtypes(include=['int64','float64']).columns:
    z_scores = np.abs((df[col] - df[col].mean()) / df[col].std())
    df = df[z_scores < 4]

In [29]:
df.shape

(0, 8)

In [8]:
num_cols = df.select_dtypes(include=['int64','float64']).columns
print("الأعمدة الرقمية:", num_cols)
print("عدد الصفوف:", len(df))

الأعمدة الرقمية: Index(['Pictures', '7514'], dtype='object')
عدد الصفوف: 0

In [9]:
# 8. ترميز الأعمدة النصية (Encoding)
for col in df.select_dtypes(include=['object']).columns:
    df.loc[:, col] = le.fit_transform(df[col])

NameError: name 'le' is not defined

In [ ]:
# 9. توحيد المقياس (Scaling) للأعمدة الرقمية
for col in df.select_dtypes(include=['int64','float64']).columns:
    z_scores = np.abs((df[col] - df[col].mean()) / df[col].std())
    df = df[z_scores < 4]

In [ ]:
 # 10. حفظ البيانات النظيفة
df.to_csv("cleaned_data_v2.csv", index=False)
print("cleaned_data_v2.csv")

In [ ]:
# عرض عدد القيم المفقودة في كل عمود
print(df.isnull().sum())

In [11]:
df

Empty DataFrame
Columns: [Restaurant, Reviewer, Review, Rating, Metadata, Time, Pictures, 7514]
Index: []